@import '../../styles';

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  .dropIcons {
    display: flex;
  }

  .container {
    background-color: $boardColor;

    @extend .hasShadow;
    .row {
      display: flex;
    }
  }

  .base {
    height: 25px;
    width: 750px;
    background-color: $boardColor;
    border: none;
    outline: none;
    cursor: pointer;

    @extend .hasShadow;
  }
}
