@import '../../styles';

.columnDropArrow {
  display: flex;
  justify-content: center;
  width: 100px;
  margin-bottom: 5px;

  > svg {
    width: 50%;
    fill: $arrowColor;
  }

  &:hover {
    cursor: pointer;
    > svg {
      fill: $arrowHoverColor;
    }
  }
}
