@import '../../styles';

.columnDropArrow {
  display: flex;
  justify-content: center;
  width: $boardSlotSize;
  margin-bottom: 5px;

  > svg {
    width: 50%;
    fill: $arrowColor;
  }

  &:hover {
    cursor: pointer;
    > svg {
      fill: $arrowHoverColor;
    }
  }
}

.disabled {
  &:hover {
    cursor: not-allowed;
    > svg {
      fill: $arrowDisabledColor;
    }
  }

  > svg {
    fill: $arrowDisabledColor;
  }
}
